In [1]:
import sqlalchemy
import pandas as pd
import numpy as np

In [2]:
engine = 'mysql+mysqldb://root:password@localhost:3306/ipl'   # Change according to your local database
conn = sqlalchemy.create_engine(engine)

In [3]:
sql = sqlalchemy.text("select * from all_matches")
all_matches = pd.read_sql_query(sql, conn.connect())
all_matches.head()

,Match_Id,Innings,Ball,Batting_Team,Bowling_Team,Striker,Non_Striker,Bowler,Runs_off_bat,Extras,Wide,No_Ball,Leg_Bye,Bye,Penalty,Wicket_Type,Player_Dismissed,Fielder
0,335982,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,Sourav Ganguly,Brendon McCullum,Praveen Kumar,0,1,0,0,1,0,0,None,None,None
1,335982,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,Brendon McCullum,Sourav Ganguly,Praveen Kumar,0,0,0,0,0,0,0,None,None,None
2,335982,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,Brendon McCullum,Sourav Ganguly,Praveen Kumar,0,1,1,0,0,0,0,None,None,None
3,335982,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,Brendon McCullum,Sourav Ganguly,Praveen Kumar,0,0,0,0,0,0,0,None,None,None
4,335982,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,Brendon McCullum,Sourav Ganguly,Praveen Kumar,0,0,0,0,0,0,0,None,None,None

In [4]:
sql = sqlalchemy.text("select * from match_details")
match_data = pd.read_sql_query(sql, conn.connect())
match_data.head()

,Match_Id,Stadium,Toss,POTM,Match_days,Batting Team,Chasing Team,is_dl
0,335982,M Chinnaswamy Stadium,"Royal Challengers Bangalore, Bowl",Brendon McCullum,"18 April 2008, Night","Sourav Ganguly, Brendon McCullum, Ricky Pontin...","Rahul Dravid, Wasim Jaffer, Virat Kohli, Jacqu...",0
1,335983,Punjab Cricket Association Stadium,"Chennai Super Kings, Bat",Michael Hussey,"19 April 2008, Daynight","Parthiv Patel, Matthew Hayden, Michael Hussey,...","Karan Goel, James Hopes, Kumar Sangakkara, Yuv...",0
2,335984,Feroz Shah Kotla,"Rajasthan Royals, Bat",Farveez Maharoof,"19 April 2008, Night","Taruwar Kohli, Yusuf Pathan, Shane Watson, Moh...","Gautam Gambhir, Virender Sehwag, Shikhar Dhawa...",0
3,335986,Eden Gardens,"Deccan Chargers, Bat",David Hussey,"20 April 2008, Daynight","Adam Gilchrist, Venugopal Rao, VVS Laxman, And...","Wriddhiman Saha, Brendon McCullum, Ricky Ponti...",0
4,335985,Wankhede Stadium,"Mumbai Indians, Bat",Mark Boucher,"20 April 2008, Night","Luke Ronchi, Sanath Jayasuriya, Dominic Thorne...","Shivnarine Chanderpaul, Rahul Dravid, Ross Tay...",0

In [8]:
player_data = pd.read_csv('players_db.csv')
player_data.head()

,name,dob,batting_style,bowling_style,playing_role,country
0,Doug Bracewell,28/09/1990,Right hand Bat,Right arm Fast medium,Bowler,New Zealand
1,Manpreet Gony,04/01/1984,Right hand Bat,Right arm Medium,Bowler,India
2,Ray Price,12/06/1976,Right hand Bat,Slow Left arm Orthodox,Bowler,Zimbabwe
3,Pinal Shah,03/11/1987,Right hand Bat,NaN,Wicketkeeper Batter,India
4,Basil Thampi,11/09/1993,Right hand Bat,Right arm Fast medium,Bowler,India

In [9]:
for c in player_data.columns:
    print(f'{c}: {len(player_data[c].unique())}')

name: 652
dob: 632
batting_style: 2
bowling_style: 21
playing_role: 10
country: 15

In [14]:
batter = 'Virat Kohli'
bowler = 'Sunil Narine'